<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.CacheMapper">

    <select id="getEmployeeById" resultType="com.atguigu.domain.Employee">
        select * from `t_emp` where eid = #{eId}
    </select>

    <insert id="insertEmployee" parameterType="Employee">
        insert into `t_emp`
        values(null, #{empName}, #{age}, #{sex}, #{email}, null, '0')
    </insert>
</mapper>


