<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.CacheMapper">

    <!--
        二级缓存是在同一个SqlSessionFactory下的, 即同一个SqlSession工厂创建的SqlSession都会被缓存.
        全局配置文件已经开启了 cacheEnabled = true. 只需要在需要的映射文件中开启cache标签就可以使用二级缓存.

        使用了cache标签就会开启二级缓存, 但是此时使用的是MyBatis框架的二级缓存.
        type可以设置使用EHCache的二级缓存, 替代MyBatis框架的二级缓存.
    -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getEmployeeById" resultType="com.atguigu.domain.Employee">
        select * from `t_emp` where eid = #{eId}
    </select>

    <insert id="insertEmployee" parameterType="Employee">
        insert into `t_emp`
        values(null, #{empName}, #{age}, #{sex}, #{email}, null, '0')
    </insert>
</mapper>


