<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.DeptMapper">

    <resultMap id="selectDeptByStepVo" type="Dept" >
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
    </resultMap>


    <!--
        Mybatis查询一对多时会出现覆盖现象使分页的数据不准确. (PageHelper已经说明不支持这种查询)

        问题: 一个Material会引用多个Picture, Picture查询的结果放到Collection里面, 传入的pageSize=10,
             查看运行日志得到的结果也是10, 但是其中有一个Material关联了两张Picture, 这样就会导致使用 resultMap 接收结果时,
             Mybatis会把重复的结果合并起来, 这样10条数据就会少2条, 极端情况下就是某个Material关联的Picture超过了9张, 这样分页
             得到的数据就会是1条.

         解决: 重写分页的逻辑. 第二种方便一些, 就是不使用连接查询, 在Service层使用分步查询.
     -->
    <resultMap id="selectDeptAndEmployeeVo" type="Dept">
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
        <collection property="employeeList" ofType="com.atguigu.domain.Employee">
            <id column="eid" property="eId" />
            <result column="emp_name" property="empName" />
            <result column="age" property="age" />
            <result column="sex" property="sex" />
            <result column="email" property="email" />
            <result column="del_flag" property="delFlag" />
        </collection>
    </resultMap>


    <!--
        这个方法就是分步查询 很有用 能够将一些难的SQL语句拆分出来 必须记住
    -->
    <resultMap id="selectDeptAndEmployeeByStepVo" type="Dept" >
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
        <!--
            - 首先通过SQL: elect d.did, d.dept_name from `t_dept` d where d.did = #{dId} 查询基础的部门信息
                就是说查询出来所有的部门信息
            - 然后, 遍历第一步中查出来的所有的部门did, 根据did这个字段去查询员工.

            例如: 表中一共有两个部门 下面这是查出来的所有部门的结果.
                    did     dept_name
                    1       A
                    2       B
                然后, 根据did=1到数据库的t_emp(员工表)查询所有在A部门的员工
                     根据did=2到数据库的t_emp(员工表)查询所有在B部门的员工

             column: 用来指定根据哪一个字段查询
             select: 用来指定根据哪一个SQL语句查询, 实际上就是某个Mapper映射文件中的id
             ofType: 用来指定查询出来的结果放到哪类实体类中
        -->
        <collection property="employeeList"
                    column="did"
                    select="com.atguigu.mapper.EmployeeMapper.getEmployeeByDeptId"
                    ofType="com.atguigu.domain.Employee" >

        </collection>
    </resultMap>

    <select id="getEmpAndDeptByStepTwo" resultMap="selectDeptByStepVo">
        select d.did, d.dept_name
        from `t_dept` d
        where d.did = #{dId}
    </select>

    <!--
        TODO: getDeptAndEmployeeById 和 getDeptAndEmployeeByStepOne这两个SQL语句的效果是一样的
    -->

    <!-- 这个是一次性查询 一个SQL -->
    <select id="getDeptAndEmployeeById" resultMap="selectDeptAndEmployeeVo">
        select d.did, d.dept_name,
                e.eid, e.emp_name, e.age, e.sex, e.email, e.del_flag
        from `t_dept` d
        left join `t_emp` e on d.did = e.did
        where d.did = #{dId}
    </select>

    <!-- 这个是分步查询 首先查询出来所有的部门信息 然后根据部门id查询所有的员工 -->
    <select id="getDeptAndEmployeeByStepOne" resultMap="selectDeptAndEmployeeByStepVo">
        select d.did, d.dept_name
        from `t_dept` d
        where d.did = #{dId}
    </select>
</mapper>


