<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.DeptMapper">

    <resultMap id="selectDeptByStepVo" type="Dept" >
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
    </resultMap>

    <resultMap id="selectDeptAndEmployeeVo" type="Dept">
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
        <collection property="employeeList" ofType="com.atguigu.domain.Employee">
            <id column="eid" property="eId" />
            <result column="emp_name" property="empName" />
            <result column="age" property="age" />
            <result column="sex" property="sex" />
            <result column="email" property="email" />
            <result column="del_flag" property="delFlag" />
        </collection>
    </resultMap>

    <resultMap id="selectDeptAndEmployeeByStepVo" type="Dept" >
        <id column="did" property="deptId" />
        <result column="dept_name" property="deptName" />
        <collection property="employeeList"
                    column="did"
                    select="com.atguigu.mapper.EmployeeMapper.getEmployeeByDeptId"
                    ofType="com.atguigu.domain.Employee" >

        </collection>
    </resultMap>

    <select id="getEmpAndDeptByStepTwo" resultMap="selectDeptByStepVo">
        select d.did, d.dept_name
        from `t_dept` d
        where d.did = #{dId}
    </select>

    <select id="getDeptAndEmployeeById" resultMap="selectDeptAndEmployeeVo">
        select d.did, d.dept_name,
                e.eid, e.emp_name, e.age, e.sex, e.email, e.del_flag
        from `t_dept` d
        left join `t_emp` e on d.did = e.did
        where d.did = #{dId}
    </select>

    <select id="getDeptAndEmployeeByStepOne" resultMap="selectDeptAndEmployeeByStepVo">
        select d.did, d.dept_name
        from `t_dept` d
        where d.did = #{dId}
    </select>
</mapper>


