<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.EmployeeMapper">
    <resultMap id="selectEmployeeVo" type="employee">
        <!-- id标签是主键字段的映射关系 -->
        <id column="eid" property="eId" />
        <!-- column标签是其他字段映射 -->
        <result column="emp_name" property="empName" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="selectEmployeeByIdVo" type="employee">
        <!--
            resultMap标签中可以设置两个id标签
            id需要设置在result之前
        -->
        <id column="eid" property="eId" />
        <id column="dept_did" property="dept.deptId" />
        <result column="emp_name" property="empName" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="del_flag" property="delFlag" />
        <result column="dept_name" property="dept.deptName" />
    </resultMap>

    <!-- 第三种映射方式 -->
    <resultMap id="selectEmployeeByAssociationVo" type="employee">
        <id column="eid" property="eId" />
        <result column="emp_name" property="empName" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="del_flag" property="delFlag" />
        <association property="dept" javaType="com.atguigu.domain.Dept" >
            <id column="dept_did" property="deptId" />
            <result column="dept_name" property="deptName" />
        </association>
    </resultMap>

    <sql id="selectEmployeeVo">
        select * from `t_emp`
    </sql>

    <select id="getAllEmployee" resultType="employee" >
        <include refid="selectEmployeeVo" />
    </select>

    <select id="getAllEmployeeNew" resultMap="selectEmployeeVo">
        <include refid="selectEmployeeVo" />
    </select>

    <select id="getEmployeeById" resultMap="selectEmployeeByIdVo">
        select emp.eid, emp.emp_name, emp.age, emp.sex, emp.email, emp.did as `emp_did`, emp.del_flag,
               dept.did as `dept_did`, dept.dept_name
        from `t_emp` `emp`
        left join `t_dept` `dept` on emp.did = dept.did
        where emp.eid = #{eId}
    </select>

    <select id="getEmployeeByIdAssociation" resultMap="selectEmployeeByAssociationVo">
        select emp.eid, emp.emp_name, emp.age, emp.sex, emp.email, emp.did as `emp_did`, emp.del_flag,
                dept.did as `dept_did`, dept.dept_name
        from `t_emp` `emp`
        left join `t_dept` `dept` on emp.did = dept.did
        where emp.eid = #{eId}
    </select>
</mapper>



